@font-face {
  font-family: MontReg;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontBold;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: MontSemiBold;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: MontMedium;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: MontLight;
  src: url("../fonts/Montserrat-Light.ttf");
}

body {
  color: #323132;
  font-family: "MontReg";
  background-color:#ededed;
  font-size: .9rem;
}

h1{
  font-family: "MontBold";

}

a {
  color: #00703c;
  text-decoration: none;
  font-family: 'MontBold';
}

.bg-dark-green{
	background-color: #00703c;
}

.text-dark-green{
	color: #00703c;
}
.logo{
  width:20rem;
}

.ext-btn, .ext-btn:hover {
    background-color: white;
    color: #00703c;
    border: 0;
    width: 10rem;
    border-radius: 0;
    height: 3.5rem;
    font-size: .9rem;
    font-family: 'MontMedium';
}

.ext-btn img {
  width: 1.5rem;
  padding-left: .1rem;
  padding-bottom: .3rem;
}
.btn-grey,.btn-grey:hover,.bg-grey{
  background-color: #ededed;
}

.font-medium {
  font-family: "MontMedium";
}

.font-semi-bold {
  font-family: "MontSemiBold";
}

.font-bold {
  font-family: "MontBold";
}
.font-reg {
  font-family: "MontReg";
}
.green-link,.green-link:hover {
  text-decoration: underline;
  color: #00703c;
  font-family: "MontReg"
}
.form-label {
    margin-bottom: .25rem;
    font-family: 'MontBold';
    text-transform: uppercase;
    color: #323132;
}
