@font-face {
  font-family: MontReg;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontBold;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: MontSemiBold;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: MontMedium;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: MontLight;
  src: url("../fonts/Montserrat-Light.ttf");
}

body {
  color: #323132;
  font-family: "MontReg";
  background-color: #ededed;
  font-size: .8rem;
}

h1, .h1 {
  font-family: "MontBold";
  font-size: calc(1.375rem + 1.5vw);
}

.h2, h2 {
  font-size: calc(1.325rem + .9vw);
}

.h3, h3 {
  font-size: calc(1.3rem + .6vw);
}

.h4, h4 {
  font-size: calc(1.275rem + .3vw);
}

.h5, h5 {
  font-size: 1.25rem;
}

.h6, h6 {
  font-size: 1rem;
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  line-height: 1.2;
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  line-height: 1.2;
}

.visually-hidden {
  display: none;
}

a:hover {
    color: #00703c;
}
a {
    color: #323132;
    text-decoration: none;
    font-family: 'MontReg';
}

.bg-dark-green {
  background-color: #00703c;
}

.text-dark-green {
  color: #00703c;
}

.logo {
  width: 20rem;
}

.ext-btn, .ext-btn:hover {
  background-color: white;
  color: #00703c;
  border: 0;
  width: 10rem;
  border-radius: 0;
  height: 3.5rem;
  font-size: .9rem;
  font-family: 'MontMedium';
}

.ext-btn img {
  width: 1.5rem;
  padding-left: .1rem;
  padding-bottom: .3rem;
}

.btn-grey, .btn-grey:hover, .bg-grey {
  background-color: #ededed;
}

.font-medium {
  font-family: "MontMedium";
}

.font-semi-bold {
  font-family: "MontSemiBold";
}

.font-bold {
  font-family: "MontBold";
}

.font-reg {
  font-family: "MontReg";
}

.green-link, .green-link:hover {
  text-decoration: underline;
  color: #00703c;
  font-family: "MontReg"
}

.light-green-link, .light-green-link:hover {
  text-decoration: underline;
  color: #259f42;
  font-family: "MontReg"
}

.form-label {
  margin-bottom: .25rem;
  font-family: 'MontBold';
  text-transform: uppercase;
  color: #323132;
}

.btn-warning {
  color: #282829;
  background-color: #fec43d;
  border-color: #fec43d;
  font-family: 'MontMedium';
  border-radius: .75rem;
}

.btn-warning:hover {
  color: #323132;
  background-color: #fec43d;
  border-color: #fec43d;
}

.btn-xl {
  color: #00703c;
  background-color: #fff;
  min-width: 13rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  font-family: 'MontBold';
  border-radius: .5rem;
  border: 1px solid #cccccc;
}

.btn-xl:hover {
  color: #00703c;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.navbar-expand-lg {
  width: 18rem;
}

.navbar {
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  padding: 0;
}

.bg-black-overlay {
  background-color: rgb(0 0 0 / 32%);
}

.menu-icon {
  width: 1.5rem;
  margin-right: .4rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: .8rem;
  font-family: 'MontSemiBold';
  padding-left: calc(1.5rem - 4px);
  color: white;
  border-left: 4px solid transparent;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
  border-left: 4px solid #259f42;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  background: linear-gradient(90deg, rgb(0 0 0 / 41%), transparent);
  padding-left: 1.5rem;
  border: 0;
  border-color: transparent;
}

.container-fluid {
  padding: 0 1.5rem;
}

.person-icon {
  width: 1rem;
  margin-right: .5rem;
}

.person-green-icon {
  width: 1.5rem;
  margin-right: .5rem;
}

.bg-dark {
  background-color: #dadada !important
}

.form-control {
  padding: .5rem .75rem;
  font-size: .8rem;
  color: #282829;
  border: 1px solid #8a8a8a;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}

.form-control:focus {
  color: #282829;
  background-color: #fff;
  outline: 0;
  box-shadow: none;
  border: 2px solid #00703c;
}

.rounded-4 {
  border-radius: .5rem;
}

.box {
  padding: 2.5rem;
}

.title {
  width: 100%;
  margin-top: .5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-dark .navbar-brand {
  padding: .5rem .5rem 2rem 4rem;
}
.accordion-button {
    width: auto;
    font-family: 'MontBold';
    padding: 0rem;
    padding-top: 1rem;
    font-size: .8rem;
    color: #00703c;
    background-color: transparent;
    border: 0px;
    border-radius: 0;
    display: inline-flex;
}
.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #00703c;
    background-color: transparent;
    padding: 0;
}
.accordion-button::before {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("../img/1 - Global Elements/icon_hidden.png");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-size: contain;
  transition: transform .2s ease-in-out;
  background-position: center;
  margin-right: .5rem;

}
.accordion-button:not(.collapsed)::before {
  background-image: url("../img/1 - Global Elements/icon_visible.png");
}
.accordion-button::after {
    flex-shrink: 0;
    width: 0;
    height: 0;
    background-image: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: none;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.custom-control-label::before {
    top: .2rem;
    width: .9rem;
    height: .9rem;
}
.custom-control-label::after {
    position: absolute;
    top: -.35rem;
    left: -2.05rem;
    display: block;
    width: 2rem;
    height: 2rem;
    content: "";
    background: 50%/50% 50% no-repeat;
}

.custom-radio .custom-control-label::after {
    position: absolute;
    top: -.15rem;
    color: #00703c;
    left: -1.85rem;
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    content: "";
    background: 50%/50% 50% no-repeat;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%2300703c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #fff;
  border-color: #00703c;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2300703c'/%3e%3c/svg%3e");
}
.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: rgb(0 112 60 / 50%);
    border-color: rgb(0 112 60 / 50%);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #00703c47;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem #00703c47;
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.navbar-expand-lg .navbar-collapse {
    width: 100%;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row !important;
    align-items: stretch;
    padding: 0;
    min-height: auto;
  }

  .navbar-dark .navbar-brand {
    color: #fff;
    width: 50%;
    margin: 0;
    padding: 1rem 2rem 1rem 4rem;
  }

  .ext-btn, .ext-btn:hover {
    background-color: white;
    color: #00703c;
    border: 0;
    background-color: #fff;
    width: 11rem;
    border-radius: 0;
    height: 3rem;
    font-size: .9rem;
    font-family: 'MontMedium';
    border-left: 1.5rem solid #fff;
    border-right: 1.5rem solid #fff;
  }
  .btn-grey, .btn-grey:hover, .bg-grey {
    background-color: #ededed;
  }
  .navbar .ext-btn, .ext-btn:hover {
        width: 100%;
    }

  .title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .navbar-dark .navbar-toggler {
    font-family: 'MontMedium';
    color: #fff;
    border-color: transparent;
    width: 100%;
    background-color: #00703c;
    padding: .5rem .75rem;
    border: 0;
    border-radius: 0;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  .navbar-toggler span {
    position: relative;
  }

  .navbar-toggler span::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0dd";
    position: absolute;
    top: -.1rem;
    right: -1rem;
  }

  .navbar-toggler[aria-expanded="true"] span:after {
    content: "\f0de";
    top: .3rem;
  }

  .navbar-toggler[aria-expanded="true"] {
    border-bottom: 2px solid #282829;
  }

  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767.98px) {
  .box {
    padding: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .btn-xl {
    min-width: 9rem;
    font-size: 1.5rem;
    padding: 1rem 1rem;
  }

  .navbar-dark .navbar-brand {
    padding: .5rem .5rem 1rem 2rem;
  }

  .title {
    padding: 0 .75rem;
    font-size: 1.15rem;
  }

  .ext-btn, .ext-btn:hover {
    height: 2.5rem;
    width: 10rem;
  }
  .btn-grey, .btn-grey:hover, .bg-grey {
    background-color: #ededed;
  }
}
